<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{index :: head(#{student.form.title})}">
</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Clarence Taylor</span>
        <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" th:src="@{'/img/profile.jpg'}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#creation-form">Student Creation</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="creation-form">
    <form th:action="@{/student/submit}"
          th:object="${student}"
          method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" th:field="*{name}" th:errorclass="btn-outline-danger">
            <th:block th:if="${#fields.hasErrors('name')}">
                <small class="form-text text-muted text-warning" th:each="err : ${#fields.errors('name')}" th:text="${err}">error</small>
            </th:block>
        </div>
        <div class="form-group">
            <label>Birthdate</label>
            <input type="text" class="form-control" th:field="*{birthdate}" th:errorclass="btn-outline-danger">
            <th:block th:if="${#fields.hasErrors('birthdate')}">
                <small class="form-text text-muted text-warning" th:each="err : ${#fields.errors('birthdate')}" th:text="${err}">error</small>
            </th:block>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </section>

</div>

<th:block th:include="~{index :: script}"></th:block>

</body>

</html>
